* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 10px 10px 0 10px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.945);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

summary {
  font-size: 18px;
}